body { margin: 0 }
.zoomable { cursor: crosshair }
.zoom {
    z-index: 10;
    cursor: zoom-in;
    position: absolute;
    background-color: #888;
    mix-blend-mode: color-dodge;
}

input[type=number] {
    position: absolute;
    width: 50px;
}
